div {
	display: block; 
	margin: auto; 
	text-align: center;
}	

table {
	width: 90%; 
	margin-left: 5%; 
	margin-right: 5%;
}

img.cover {
	width: 20em;
	height: 20em;
}

a:link, a:visited {
	text-decoration: none;
	color: darkred;
}

a:hover {
	background-color: orange;
	text-decoration: underline;
}