html {
	background-color: black;
	margin: auto;
	text-align: center;
	font-family: cursive;
	color: white;
}
h1  {
	font-family: 'Coustard', serif;
	color: red;
	font-size: 3.5em;
	text-align: center;
	line-height: 120%;
	text-shadow:1.5px 0px darkred,
					0px 1.5px darkred,
					2.5px 0px 1px white,
					0px 2.5px 1px white,
					-2.5px 0px 1px white,
					0px -2.5px 1px white;
}
th, td {
	border: 2px solid white;
	text-align: left;
	vertical-align: top;
	height: 50px;
	padding: 5px;
	font-size: 0.95em;
}
th {
	background-color: goldenrod;
}
table {
	width: 275px;
	height: 275px;
	margin: auto;
	border-collapse: collapse;
}
#lucky-sevens {
	font-size: .75em;
	width: 250px;
	margin: 50px auto;
	border: 5px outset darkgoldenrod;
}
#lucky {
	font-size: 1.25em;
}
#sevens {
	letter-spacing: -1px;
}
#center-seven {
	font-size: 1.5em;
}
#error-message {
	color: crimson;
}
#number {
	text-decoration: underline;
	font-weight: bold;
}
#play {
	width: 100px;
	margin: 25px auto;
}
#enter-bet {
	margin: 25px auto;
}
#results {
	background-color: palegoldenrod;
	width: 325px;
	height: 330px;
	margin: auto;
	color: black;
	border: 5px solid darkgoldenrod;
}
#tabletitle {
	text-align: center;
	vertical-align: middle;
	font-size: 1.25em;
	text-decoration: underline;
	border: none;
	background-color: inherit;
}

.buttons {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	height: 50px;
	width: 250px;
	margin: auto 5px;
	margin-bottom: 12.5px;
	background-color: darkgreen;
	border: none;
	border-color: green;
	cursor: pointer;
}
