html { 
	font-family: Cursive; 
}
.navigation {
	border-top-style: solid;
	border-bottom-style: solid;
	padding: 25px 0px;
	margin-bottom: 50px;
}
.footer {
	text-align: center;
	border-top: solid;
	margin-top: 50px;
}