html { 
	font-family: Cursive; 
}
.navigation {
	border-top-style: solid;
	border-bottom-style: solid;
	padding: 25px 0px;
	margin-bottom: 50px;
}
.footer {
	text-align: center;
	border-top: solid;
	margin-top: 50px;
}

.restaurantname {
	font-family: "Fredericka the Great", cursive;
}

a:link {
	color: blue;
}

a:visited  {
	color: black;
}

a:hover {
	font-weight: bold;
	color: blue;
}

a:active {
	text-decoration: none;
	color: blue;
}